body {
  background-color: #555555;
  font-family: Montserrat, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::after, *::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  padding: 0;
  margin: 58px auto;
  max-width: 1200px;
  display: flex;
  gap: 30px;
  position: relative;
}
